*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif; }

body {
  font-size: 62.5%; }
  @media only screen and (max-width: 600px) {
    body {
      font-size: 50%; } }
  @media only screen and (max-width: 900px) {
    body {
      font-size: 56.25%; } }
  @media only screen and (max-width: 1200px) {
    body {
      font-size: 75%; } }

.header {
  width: 100%;
  height: 10vh;
  background-color: #902ced;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__title {
    text-align: center;
    font-size: 3rem;
    color: #fff; }
    @media only screen and (max-width: 600px) {
      .header__title {
        font-size: 2.4rem; } }
    @media only screen and (min-width: 600px) {
      .header__title {
        font-size: 2rem; } }

.section__score {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  .section__score > div:first-of-type {
    background-color: #00b7ff; }
  .section__score > div:last-of-type {
    background-color: #008cff; }

.section__gaming {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 600px) {
    .section__gaming {
      height: 25vh; } }

.section__control {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.section__menu-controls {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 600px) {
    .section__menu-controls {
      margin-top: 2rem; } }

.card__score {
  width: 180px;
  height: 120px;
  border-radius: 20px;
  margin: 0rem 2rem;
  box-shadow: 0rem 0rem 0.7rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: all 0.2s; }
  @media only screen and (max-width: 600px) {
    .card__score {
      margin: 0rem 1rem;
      height: 100px; } }
  .card__score-title {
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .card__score-title {
        font-size: 1.7rem; } }
  .card__score-points {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300; }
    @media only screen and (max-width: 600px) {
      .card__score-points {
        margin-top: 0.5rem;
        font-size: 1.6rem; } }
  .card__score:hover {
    transform: scale(1.2) rotate(-10deg); }
  .card__score::before {
    content: '';
    width: 100%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0; }
  .card__score::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    left: 0; }

.gaming__panel > i {
  font-size: 10rem;
  color: rgba(172, 172, 172, 0.842);
  padding: 1rem 2rem;
  position: relative;
  z-index: 1000; }
  @media only screen and (max-width: 600px) {
    .gaming__panel > i {
      font-size: 9rem; } }

.btn-primary {
  width: 100px;
  height: 100px;
  background: transparent;
  border: 5px solid #902ced;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s; }
  @media only screen and (max-width: 600px) {
    .btn-primary {
      width: 80px;
      height: 80px;
      margin: 1.5rem; } }
  .btn-primary:link, .btn-primary:visited, .btn-primary:focus {
    outline: none; }
  .btn-primary > i {
    font-size: 6rem;
    color: #902ced;
    display: block;
    transition: all 0.2s; }
    @media only screen and (max-width: 600px) {
      .btn-primary > i {
        font-size: 4rem; } }
  .btn-primary:hover {
    background-color: #902ced;
    cursor: pointer;
    animation: animation1 1s infinite; }
  .btn-primary:hover > i {
    color: #fff; }

.btn-menu {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  background-color: #902ced;
  border: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer; }
  .btn-menu:hover {
    transform: scale(1.1); }
  .btn-menu > i {
    color: #fff;
    font-size: 1.5rem;
    display: block; }
  .btn-menu, .btn-menu:visited, .btn-menu:focus {
    outline: none; }

@keyframes animation1 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes winner {
  0% {
    transform: scale(1) rotate(0deg);
    color: rgba(172, 172, 172, 0.842); }
  50% {
    transform: scale(2) rotate(10deg);
    color: #00e686; }
  100% {
    transform: scale(1) rotate(0deg);
    color: rgba(172, 172, 172, 0.842); } }

@keyframes loser {
  0% {
    transform: scale(1) rotate(0deg);
    color: rgba(172, 172, 172, 0.842); }
  50% {
    transform: scale(0.5) rotate(-10deg);
    color: #ec3e64; }
  100% {
    transform: scale(1) rotate(0deg);
    color: rgba(172, 172, 172, 0.842); } }

@keyframes same {
  0% {
    transform: scale(1) rotate(0deg); }
  50% {
    transform: scale(1.3) rotate(-10deg); }
  100% {
    transform: scale(1) rotate(0deg); } }

@keyframes rotate360 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
