$primary-color: rgb(144, 44, 237);
$blue-light: rgb(0, 183, 255);
$blue-dark: rgb(0, 140, 255);
$gray-color: rgba(172, 172, 172, 0.842);

$success: rgb(0, 230, 134);
$error: rgb(236, 62, 100);

$white: #fff;
$black: #000;
