$primary-color: rgb(144, 44, 237);
$blue-light: rgb(0, 183, 255);
$blue-dark: rgb(0, 140, 255);
$gray-color: rgba(227, 227, 227, 0.842);

$success: rgb(0, 220, 117);
$error: rgb(227, 38, 73);

$white: #fff;
$black: #000;
