@import '../abstracts/variables';

.section__score {
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;

	& > div:first-of-type {
		background-color: $blue-light;
	}

	& > div:last-of-type {
		background-color: $blue-dark;
	}

	@media only screen and (max-width: 600px) {
		height: 20vh;
		width: 100vw;
		justify-content: space-around;
	}
}

.section__gaming {
	height: 30vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: 600px) {
		height: 25vh;
		width: 100vw;
	}
}

.section__control {
	height: 25vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: 600px) {
		height: 25vh;
		width: 100vw;
		justify-content: space-around;
	}
}

.section__menu-controls {
	height: 5vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: 600px) {
		height: 5vh;
		width: 100vw;
		margin-top: 2rem;
	}
}
