@import '../abstracts/variables';

.section__score {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	& > div:first-of-type {
		background-color: $blue-light;
	}

	& > div:last-of-type {
		background-color: $blue-dark;
	}
}

.section__gaming {
	height: 30vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section__control {
	height: 30vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section__menu-controls {
	height: 5vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
